{# {% extends 'base.html.twig' %}

{% block title %}Hello TestControlController!{% endblock %}

{% block body %}
<h1> Je m'appel peu importe et mon id est :{{id}}</h1>
{% if id == 4 %} <p>L'id est le bon</p>
{% else %}
<p>L'id est le mauvais</p>
{% endif %}


{% endblock %} #}

{% extends 'base.html.twig' %}

{% block title %}Longeur de mon nom{% endblock %}

{% block body %}
<style>
    h1{
        background-color:#33cc66;
        color:#fff;
        text-align: center;
    }
</style>

<div class="example-wrapper">
    <h1>Votre nom est {{nom}}, il est composé de {{taille}} caractères.</h1>

    <p> Merci pour votre visite</p>

</div>
{% endblock %}